@import "../globals.scss";
//----Hero------//
.hero-cont {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video-back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textoHero {
  position: absolute;
  bottom: 40%;
  left: 12%;
  transform: translateX(-400%);
  opacity: 0;
  font-size: $fuenteEscritorio;
  color: white;
  max-width: 40%;
  background-color: transparent;
}

.tituloHero {
  position: absolute;
  bottom: 3%;
  left: 9%;
  z-index: 1;
  color: white;
  max-width: 100%;
  background-color: transparent;

  .letrasCont {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 3em;
  }
  .letras {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    background-color: transparent;
    height: 31vh;
    > p {
      padding: 0;
      margin: 0;
      @include fuenteSemiBold;
      font-size: $fuenteHero;
      opacity: 0;
      transform: translateY(100%);
      background-color: transparent;
    }
  }
}

//-------BTNS--------//
.cont-btnScroll {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .btnScroll {
    height: 100%;
    width: 3%;
    border-radius: 25px;
    border: 3px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    > .icono {
      height: 100%;
      width: 80%;
      background-color: transparent;
      animation: animacionIcono 1.5s linear infinite;
    }
  }
}
@keyframes animacionIcono {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 4em;
  }
  100% {
    padding-top: 0;
  }
}
//-----heroviejo----//
// .hero-cuerpo {
//   overflow: hidden;
//   position: relative;
//   height: 100vh;
//   background-color: #1f1d21;
//   background-image: url("/banner3.png");
//   background-size: 100%;
//   background-repeat: no-repeat;
//   color: #fff;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   align-items: center;
//   padding: 0 12%;
// }
// .esfera {
//   position: absolute;
//   filter: blur(1px);
//   object-fit: contain;
//   background-color: transparent;
// }
// .esfera1 {
//   top: 5%;
//   left: 10%;
//   height: 10vh;
//   width: 10vh;
// }
// .esfera2 {
//   right: 5%;
//   bottom: 35%;
//   height: 20vh;
//   width: 20vh;
// }
// .textoHero {
//   width: 40%;
//   background-color: transparent;
//   align-self: flex-start;
//   transform: translateX(-400%);
//   opacity: 0;
//   font-size: $fuenteEscritorio;
// }
// .tituloHero {
//   background-color: transparent;
//   margin-top: 5%;
//   .letrasCont {
//     display: flex;
//     flex-direction: row;

//     background-color: transparent;
//     gap: 3em;
//   }
//   .letras {
//     display: flex;
//     flex-direction: row;
//     gap: 1.5em;
//     background-color: transparent;
//     height: 31vh;
//     > p {
//       padding: 0;
//       margin: 0;
//       @include fuenteSemiBold;
//       font-size: 13vw;
//       opacity: 0;
//       transform: translateY(100%);
//       background-color: transparent;
//     }
//   }
// }
//-----------secciones------------//

.titlee {
  background-color: transparent;
  top: 0;
  opacity: 0;
  position: absolute;
  padding: 0 5rem;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  @include fuenteThinItalic;
  transform: translateY(-200%);
}
.canvaAlt {
  height: 100vh;
  //transition: all ease-in-out;
  background-color: #1f1d21;
}
//-----presentacio-----//
.presentacion-container {
  background: url("/fondo2.png") no-repeat;
  background-size: contain;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 12%;
  gap: 4em;
  .presentacion-titulo {
    flex: 1;
    font-size: 8em;
    background-color: transparent;
    @include fuenteExtralightItalic;
    > h2 {
      background-color: transparent;
    }
  }
  .presentacion-texto {
    flex: 1;
    background-color: transparent;
    font-size: 1.2em;
    margin-top: 3rem;
    line-height: 23px;
  }
}
//------cards servicios individuales-----//
.contenedor-animacion {
  height: auto;
  width: 100%;
  background-color: "#221C20";
  color: #fff;
  border-top-right-radius: 50px !important;
  border-top-left-radius: 50px !important;
}
.contenedor-stycki {
  padding: 8% 12% 0 12%;
  height: 100%;
  color: #fff;
  display: flex;
  position: relative;
  border-top-right-radius: 50px !important;
  border-top-left-radius: 50px !important;
  .cont-cuadradoDos {
    height: auto;
    flex: 1;
    .seccion-parrafos {
      background-color: "#221C20";
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100vh;
      color: #fff;
      padding: 3em;
      > .section-parrafos-h2 {
        @include fuenteExtralightItalic;
        text-align: start;
        font-size: 6em;
        padding-bottom: 1em;
        line-height: 5px;
      }
      > .section-parrafos-p {
        @include poppinMedium;
        font-size: 1.2em;
      }
    }
  }
}
.sticky {
  background-color: "#221C20";
  border: 2px solid #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  right: 0;
  @media (min-width: 1000px) {
    top: 35%;
  }
  .imagen {
    position: relative;
    height: 80vh;
    width: 30vw;
    background-color: transparent;
    border: 2px solid #000;
    display: flex;
    .section1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(214, 131, 189);
    }
    .section2 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      width: 0%;
      height: 100%;
      background-color: blueviolet;
    }
    .section3 {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 0%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      height: 100%;
      background-color: yellowgreen;
    }
    .section4 {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 0%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      height: 100%;
      background-color: rgb(86, 9, 253);
    }
  }
}
//-----Penultima---contactanos-------//
.contactanos-container {
  height: 50vh;
  padding: 0 12%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6em;
  .contactanos-cont-h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .contactanos-cont-h2 {
      @include fuenteExtralightItalic;
      padding: 0;
      margin: 0;
      font-size: 7em;
    }
    .contactanos-cont-h2_strong {
      padding: 0;
      margin: 0;
      font-size: 8em;
      @include poppinMedium;
    }
  }
}
.contactanos-p {
  @include poppinMedium;
  font-size: 1.2em;
  background-color: transparent;
}
.contactanos-containerB {
  color: #fff;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12%;
  .contactanos-texto {
    width: 50%;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.buttonb {
  @include boton(15rem);
}
.Contactanos-form {
  padding: 0 12% 5% 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contactanos-for-h2 {
  @include fuenteExtralightItalic;
  padding: 0;
  color: #fff;
  margin: 0;
  font-size: 4em;
}
.botoon {
  @include boton(15rem);
}
.contactanos-infinite {
  position: relative;
  height: 25vh;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  display: flex;
  .contactanos-infinite-h2 {
    background-color: transparent;
    font-size: 8em;
    width: 200%;
    color: #fff;
    transform: translateX(0);
  }
  // .contactanos-infinite-h2:nth-of-type(2) {
  //   position: absolute;
  //   left: 100%;
  // }
}
