@import "../globals.scss";

//-------BTNS--------//
.cont-btnScroll {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .btnScroll {
    height: 100%;
    width: 60px;
    border-radius: 25px;
    border: 3px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    > .icono {
      height: 100%;
      width: 80%;
      background-color: transparent;
      animation: animacionIcono 1.5s linear infinite;
    }
  }
  @media screen and (width <= 900px) {
    margin: 8% 0 0 0;
  }
}
@keyframes animacionIcono {
  0% {
    padding-top: 0;
  }
  50% {
    padding-top: 4em;
  }
  100% {
    padding-top: 0;
  }
}
//-----heroviejo----//
.hero-cuerpo {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #101010;
  background-image: url("/banner3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12%;
  @media screen and (width <= 1200px) {
    background-size: contain;
  }
  @media screen and (width <= 750px) {
    height: 80vh;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
}
.esfera {
  object-fit: contain;
  background-color: transparent;
  width: auto;
  height: auto;
}
.contenedor_img_esferas_uno {
  position: relative;
  background-color: transparent;
  top: 20%;
  right: -20%;
  width: auto;
  height: auto;
}
.contenedor_img_esferas_dos {
  position: relative;
  background-color: transparent;
  right: 50%;
  top: 0;
  width: auto;
  height: auto;
}

.textoHero {
  width: 40%;
  background-color: transparent;
  align-self: flex-start;
  transform: translateX(-400%);
  opacity: 0;
  font-size: $fuenteEscritorio;
  @media screen and (width <= 1200px) {
    margin-bottom: 2em;
  }
  @media screen and (width <= 800px) {
    width: 60%;
    font-size: 1em;
  }
  @media screen and (width <= 600px) {
    width: 80%;
    margin: 10em 0 0 0;
    font-weight: 700;
  }
  @media screen and (max-height: 610px) {
    margin: 4em 0 0 0;
  }
}
.tituloHero {
  background-color: transparent;
  margin-top: 5%;
  .letrasCont {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 3em;
  }
  .letras {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    background-color: transparent;
    > p {
      padding: 0;
      margin: 0;
      @include fuenteSemiBold;
      font-size: 13vw;
      opacity: 0;
      transform: translateY(100%);
      background-color: transparent;
      @media screen and (width <= 800px) {
        font-size: 10vw;
      }
    }
  }
}
//Titulo hero-res
.cont-tituloRes {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 3rem;
  background-color: transparent;
  .section-letrasRes {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    .laLetra {
      background-color: transparent;
      font-size: 6em;
      opacity: 0;
      transform: translateY(70%);
      @media screen and (width <= 500px) {
        font-size: 5em;
        background-color: transparent;
      }
    }
  }
}
@media screen and (max-height: 610px) {
  .cont-tituloRes {
    margin-top: 3rem;
  }
}
//-----------secciones------------//

.titlee {
  background-color: transparent;
  top: 0;
  opacity: 0;
  position: absolute;
  padding: 0 5rem;
  text-align: center;
  color: #fff;
  font-size: 7vw;
  @include fuenteExtralight;
  transform: translateY(-200%);
  @media screen and (width <= 900px) {
    margin: 8% 0 0 0;
    font-weight: 400;
  }
  @media screen and (width <= 600px) {
    font-size: 5.5vw;
  }
  @media screen and (width <= 490px) {
    padding: 0 3rem;
  }
}
.canvaAlt {
  height: 100vh !important;
  background-color: #1f1d21;
}
//-----presentacio-----//
.presentacion-container {
  background: url("/bannerDos.webp") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $paddingNormal;
  gap: 4em;
  @media screen and (width <= 1200px) {
    padding: 0 12% 8% 12%;
  }
  @media screen and (width <= 900px) {
    padding: 0 9% 4% 9%;
  }
  @media screen and (width <= 770px) {
    flex-direction: column;
    gap: 1em;
  }
  .presentacion-titulo {
    flex: 1;
    font-size: 6vw;
    background-color: transparent;
    @include fuenteExtralightItalic;
    > h2 {
      background-color: transparent;
    }
    @media screen and (width <= 770px) {
      font-size: 4em;
      flex: 0;
      align-self: flex-start;
    }
    @media screen and (width <= 490px) {
      font-size: 3em;
      line-height: 50px;
    }
  }
  .presentacion-texto {
    flex: 1;
    background-color: transparent;
    font-size: 1.2em;
    margin-top: 3rem;
    line-height: 23px;
    @media screen and (width <= 1200px) {
      font-size: $fuenteEscritorioResponsive;
    }
    @media screen and (width <= 770px) {
      flex: 0;
    }
  }
}
//------cards servicios individuales-----//
.contenedor-animacion {
  height: auto;
  width: 100%;
  color: #fff;
  border-top-right-radius: 50px !important;
  border-top-left-radius: 50px !important;
}
.contenedor-stycki {
  padding: 8% 12% 0 12%;
  height: 100%;
  //background-color: #853fe4;
  color: #fff;
  display: flex;
  position: relative;
  border-top-right-radius: 50px !important;
  border-top-left-radius: 50px !important;
  @media screen and (width <= 1200px) {
    padding: 2% 12% 0 12%;
  }

  @media screen and (width <= 900px) {
    padding: 0 8% 4% 8%;
  }
  .cont-cuadradoDos {
    height: auto;
    flex: 1;

    .seccion-parrafos {
      background-color: "#221C20";
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100vh;
      color: #fff;
      padding-right: 3em;

      > .section-parrafos-h2 {
        @include fuenteExtralightItalic;
        text-align: start;
        font-size: 6vw;
        padding-bottom: 1em;
        line-height: 5px;
      }
      > .section-parrafos-p {
        @include poppinMedium;
        font-size: 1.2em;
        @media screen and (width <= 1200px) {
          font-size: $fuenteEscritorioResponsive;
        }
      }
    }
  }
}
.cont-etiqueta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.etiquetaT {
  @include poppinMedium;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  transition: 1s all ease-in-out;
  &:hover {
    border: 2px solid #853fe4;
    color: #b88bf8;
  }
}
.sticky {
  border: 2px solid #101010;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  right: 0;
  background-color: transparent;
  .imagen {
    position: relative;
    height: 80vh;
    width: 30vw;
    background-color: transparent;
    border: 2px solid #101010;
    display: flex;
    @media screen and (width <= 1200px) {
      height: 70vh;
    }
    @media screen and (width <= 900px) {
      height: 60vh;
      width: 37vw;
    }
    .section1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .section2 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0%;
      height: 100%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    .section3 {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }

    .section4 {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    .section5 {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    .section6 {
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
  }
}
.video-back {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: border-radius 2s;
}

//-----Penultima---contactanos-------//
.contactanos-container {
  padding: 5% 12%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6em;
  @media screen and (width <= 490px) {
    gap: 3em;
  }
  .contactanos-cont-h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    @media screen and (width <= 900px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .contactanos-cont-h2 {
      @include fuenteExtralightItalic;
      padding: 0;
      margin: 0;
      font-size: 6vw;
      @media screen and (width <= 900px) {
        font-size: 4em;
      }
      @media screen and (width <= 490px) {
        font-size: 3em;
        line-height: 50px;
      }
    }
    //font-size: 4em;
    .contactanos-cont-h2_strong {
      padding: 0;
      margin: 0;
      font-size: 7vw;
      @include poppinMedium;
      @media screen and (width <= 900px) {
        font-size: 5em;
      }
      @media screen and (width <= 490px) {
        font-size: 3em;
      }
    }
  }
}
.contactanos-p {
  @include poppinMedium;
  font-size: 1.2em;
  background-color: transparent;
  @media screen and (width <= 1200px) {
    font-size: $fuenteEscritorioResponsive;
  }
}
.contactanos-containerB {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5% 12%;
  @media screen and (width <= 490px) {
    justify-content: center;
  }
  .contactanos-texto {
    width: 50%;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-end;
    align-items: flex-end;
    @media screen and (width <= 490px) {
      width: 100%;
      gap: 2rem;
      text-align: center;
    }
  }
}
.buttonb {
  @include boton(15rem);
  @media screen and (width <= 490px) {
    align-self: center;
  }
}
.Contactanos-form {
  padding: 0 12% 5% 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  @media screen and (width <= 490px) {
    padding: 12%;
  }
}
.contContacto {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  .contactoB {
    @include fuenteExtralightItalic;
    font-size: 4vw;
    transition: 1.5s ease-in-out;
    &:hover {
      color: #853fe4;
    }
    @media screen and (width <= 490px) {
      font-weight: 600;
    }
  }
}
@media screen and (width <= 490px) {
  .contactoB {
    font-size: 1px;
  }
}
.contactanos-for-h2 {
  @include fuenteExtralightItalic;
  padding: 0;
  color: #fff;
  margin: 0;
  font-size: 4em;
  @media screen and (width <= 490px) {
    font-size: 3em;
    line-height: 50px;
  }
}
.botoon {
  @include boton(15rem);
}
.contactanos-infinite {
  position: relative;
  height: auto;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  display: flex;
  .contactanos-infinite-h2 {
    background-color: transparent;
    font-size: 17vh;
    width: auto;
    color: #fff;
    transform: translateX(0);
    @media screen and (width <= 490px) {
      font-size: 10vh;
    }
  }
}
.contenedor-servCard-R {
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 50px;
  transform: translateY(-10%);
  padding: $paddingRespCelu;
}

.seccion-servCard-R {
  margin-top: 20%;
  background-color: transparent;
  height: 70vh;
  position: relative;
  .imagenMuestra {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.contParafos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  padding: 0 5%;
  bottom: 20px;
  background-color: transparent;
  .section-h2-R {
    background-color: transparent;
    color: red;
    line-height: 60px;
    @include fuenteExtralightItalic;
    font-size: 3em;
    @media screen and (width <= 490px) {
      font-size: 2em;
      line-height: 50px;
      font-weight: 300;
    }
  }
  .section-p-R {
    background-color: transparent;
  }
}

.seccion-servCard-R:nth-child(1) {
  position: sticky;
  z-index: 1;
  top: 50%;
}
.seccion-servCard-R:nth-child(2) {
  position: sticky;
  z-index: 2;
  top: 55%;
}

.seccion-servCard-R:nth-child(3) {
  position: sticky;
  z-index: 3;
  top: 60%;
}

.seccion-servCard-R:nth-child(4) {
  position: sticky;
  z-index: 4;
  top: 65%;
}
.seccion-servCard-R:nth-child(5) {
  position: sticky;
  z-index: 5;
  top: 70%;
}
.seccion-servCard-R:nth-child(6) {
  position: sticky;
  z-index: 6;
  top: 75%;
}
//Preloader//
.container-prel {
  height: 100vh;
  background: linear-gradient(
    324deg,
    rgba(124, 39, 242, 1) 25%,
    rgba(92, 53, 145, 1) 76%
  );
  color: #101010;
  align-content: center;
  overflow: hidden;
}

.container-H {
  position: relative;
  bottom: 20%;
  left: 10%;
}

.h22 {
  background-color: transparent;
  color: transparent;
  font-size: 22em;
  font-weight: 900;
  position: absolute; /* Posición absoluta */
  top: -35px;
  left: -40px;
  -webkit-text-stroke: 4px #101010;
  transform: translateY(-200vh);
  opacity: 1;
}

.h11 {
  transform: translateY(-200vh);
  opacity: 0;
  font-size: 22em;
  font-weight: 900;
  position: absolute;
  background-color: transparent;
}
@media screen and (width <= 650px) {
  .h22,
  .h11 {
    font-size: 15em;
  }
  .container-H {
    bottom: 0%;
    left: 15%;
  }
  .container-prel {
    background-position: left top;
  }
}
@media screen and (width <= 400px) {
  .h22,
  .h11 {
    font-size: 11em;
  }
  .h22 {
    top: -45px;
    left: -10px;
  }
  .container-H {
    left: 12%;
  }
}
@media screen and (width <= 900px) {
  .seccion-parrafos {
    height: 80vh !important;
    justify-content: flex-end !important;
  }
  .sticky {
    height: 80vh;
    align-items: flex-end;
  }
  .contactanos-infinite-h2 {
    font-size: 10vh;
  }
}
@media screen and (max-height: 750px) {
  .sticky {
    top: 40% !important;
    //background-color: #853fe4;
  }
}
.contenedorPad {
  opacity: 0;
}
